# Phase 2 Notebook

Aditya Kakade (apk67), Johanna Jung (), Maaya Kanvar ()

### Data Collection & Cleaning

First, we will import all of the necessary libraries and packages into our notebook

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import duckdb as duckdb

Here we are reading in all of our csv files as dataframes.  We have four files:
1) A CSV file representing the amount of money that countries were paid for their intellectual property for years from 1960 - 2022
2) A CSV file representing the GDP of countries for years from 1960 - 2022
3) A CSV file representing various loan statistics including current balance and inital amount regarding countries' debt to the World Bank
4) A CSV file containing all developed countries as classified by the UN, and their Human Development Indexes for 2021 and 2022

CSV files 1, 2, and 3 are all from the World Bank, and CSV file 4 is from the World Population Review.

*In order to import the GDP_Table.csv file, we needed to manually delete rows 1-4, as they had headers and titles that were interfering with panda's ability to parse the file.

In [ ]:
int_property_df = pd.read_csv("./Intellectual_Property_Table.csv")
gdp_df = pd.read_csv("./GDP_Table.csv", delimiter = ",")
debt_df = pd.read_csv("./IBRD_Country-wise_Loan_summary.csv")
developed_countries_df = pd.read_csv("./developed-countries-2023.csv")

We now look at the shapes of all of our dataframes.  We know that all of our data is heavily based on the country/code -- printing the dataframe's shapes helped us see that the Intellectual Property, GDP, and Debt dataframes had different row amounts. Knowing there are 195 countries, this means that for the Debt dataframe, not all countries have debt data, and for the IP and GDP dataframes, world regions may also be included in addition to just countries as table entries.  This will come into play later in the data cleaning, to ensure we are able to do analysis using all of our variables.

In [ ]:
print("Intellectual Property dataframe shape" + str(int_property_df.shape))
print("GDP dataframe shape" + str(gdp_df.shape))
print("Debt dataframe shape" + str(debt_df.shape))
print("Developed Countries dataframe shape" + str(developed_countries_df.shape))

Intellectual Property dataframe shape(271, 67)
GDP dataframe shape(266, 67)
Debt dataframe shape(147, 6)
Developed Countries dataframe shape(66, 3)

In our analysis, we decided that we do not want to consider years before 2000 due to large changes that were happening due to world events such as conflict and large changes in technology.  We want to only consider years after 1999 because our data concerning countries' debt to the World Bank is current, meaning modern times' gdp and debt data will likely be more accurate.

To do this, we put all of our unwanted years in an array, and used this array to drop them from both the GDP dataframe and the Intellectual Property dataframe.  We then saved these filtered dataframes as new csv's after making sure the columns aligned with our expectations.

In [ ]:
#years we do not want to consider
unwanted_years = ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999']

#reducing GDP dataframe, saving to new csv
filtered_gdp_df = gdp_df.drop(columns=unwanted_years)
print("New GDP DF Columns:" + str(filtered_gdp_df.columns))

#saving to new csv file
filtered_gdp_df.to_csv("Filtered_GDP.csv", index=False)

#reducing Intellectual Property dataframe, saving to new csv
filtered_int_prop_df = int_property_df.drop(columns=unwanted_years)
print("New Intellectual Property DF Columns:" + str(filtered_int_prop_df.columns))

#saving to new csv file
filtered_int_prop_df.to_csv("Filtered_Int_Prop.csv", index=False)

New GDP DF Columns:Index(['Country_Name', 'Country_Code', 'Indicator_Name', 'Indicator_Code',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022'],
      dtype='object')
New Intellectual Property DF Columns:Index(['Country_Name', 'Country_Code', 'Series_Name', 'Series_Code', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022'],
      dtype='object')

For the developed countries CSV, we only need the country names and whether they are developed or not.  Since all the countries in the CSV are developed, we can simply drop one of the year colulmns containint the human development index value, and fill the other one with ones to represent a binary variable where 1 = developed and 0 = not developed.

In [ ]:
#dropping year columns containing HDI values
developed_countries_df = developed_countries_df.drop(columns = ['Hdi2021','Hdi2020'])

#adding column of all ones
developed_countries_df['developed'] = 1

developed_countries_df.head(10)

       country  developed
0  Switzerland          1
1       Norway          1
2      Iceland          1
3    Hong Kong          1
4    Australia          1
5      Denmark          1
6       Sweden          1
7      Ireland          1
8      Germany          1
9  Netherlands          1

We want to check the datatypes of our columns in each of our dataframes, to ensure that they are satisfactory for later analysis and comparison.

In [ ]:
print("GDP df datatypes\n" + str(filtered_gdp_df.dtypes))
print("Intellectual Property df datatypes\n" + str(filtered_int_prop_df.dtypes))
print("Debt df datatypes\n" + str(debt_df.dtypes))
print("Developed Countries datatypes\n" + str(developed_countries_df.dtypes))

GDP df datatypes
Country_Name       object
Country_Code       object
Indicator_Name     object
Indicator_Code     object
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
dtype: object
Intellectual Property df datatypes
Country_Name    object
Country_Code    object
Series_Name     object
Series_Code     object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
2020            object
2021            object
2022            object
dtype: object
Debt df datatypes
Country                       object
Original Principal Amount    float64
Cancelled Amount             float64
Undisbursed Amount           float64
Disbursed Amount             float64
Borrower's Obligation        float64
dtype: object
Developed Countries datatypes
country      object
developed     int64
dtype: object

Since all of the datatypes look good -- year columns containing numbers representing money are floats and all other columns are objects -- we can move onto missing data.

For the GDP and Intellectual dataframes specifically, cells with missing data are represented using "..".  For future analysis, we want to replace these values with 0 since these cells represent monetary values.  The debt datafram already uses 0 rather than NaN so it does ot need this.

In [ ]:
#Fill nans in GDB and Intellectual Property dataframes with 0
filtered_gdp_df.replace(np.nan, 0, inplace=True)

filtered_int_prop_df.replace(np.nan, 0, inplace=True)

In order to later compare and analyze countries' gdp and intellectual property in relation to debt and developed status, we wnat to add the contents of the Debt and Developed Country dataframes to both the GDP and Intellectual Property dataframes.  Since we only want to analyze countries which we have all variables for as stated before, we will Inner Join on the Debt dataframe since it has the least amount of rows and therefore countries.

In [ ]:
#inner joining GDP df on Debt df
gdp_debt_df = duckdb.sql("""SELECT * FROM
                         debt_df INNER JOIN filtered_gdp_df
                         ON debt_df.Country = filtered_gdp_df.Country_Name""").df()

#Dropping the redundant Country_Name column
gdp_debt_df = gdp_debt_df.drop("Country_Name", axis = 1)

#inner joining Intellectual Property df on Debt df
int_property_debt_df = duckdb.sql("""SELECT * FROM
                         debt_df INNER JOIN filtered_int_prop_df
                         ON debt_df.Country = filtered_int_prop_df.Country_Name""").df()

#Dropping the redundant Country_Name column
int_property_debt_df = int_property_debt_df.drop("Country_Name", axis = 1)

print(gdp_debt_df.head(5))
print(int_property_debt_df.head(5))

               Country  Original Principal Amount  Cancelled Amount  \
0              Albania               2.032160e+09      1.402591e+08
1            Argentina               4.246665e+10      4.680851e+09
2              Armenia               1.224900e+09      4.430277e+07
3  Antigua and Barbuda               1.200000e+07      7.435746e+06
4            Australia               4.177300e+08      0.000000e+00

   Undisbursed Amount  Disbursed Amount  Borrower's Obligation Country_Code  \
0        7.465856e+08      1.082344e+09           8.740135e+08          ALB
1        5.289592e+09      3.300022e+10           9.498279e+09          ARG
2        1.301590e+08      1.053062e+09           9.671751e+08          ARM
3        5.161400e+04      4.512640e+06           4.012867e+06          ATG
4        0.000000e+00      4.177300e+08          -2.000000e-02          AUS

      Indicator_Name  Indicator_Code          2000  ...          2013  \
0  GDP (current US$)  NY.GDP.MKTP.CD  3.480355e+09  ...  1.277622e+10
1  GDP (current US$)  NY.GDP.MKTP.CD  2.842040e+11  ...  5.520250e+11
2  GDP (current US$)  NY.GDP.MKTP.CD  1.911564e+09  ...  1.112146e+10
3  GDP (current US$)  NY.GDP.MKTP.CD  8.263704e+08  ...  1.181448e+09
4  GDP (current US$)  NY.GDP.MKTP.CD  4.158450e+11  ...  1.576330e+12

           2014          2015          2016          2017          2018  \
0  1.322815e+10  1.138685e+10  1.186120e+10  1.301973e+10  1.515642e+10
1  5.263200e+11  5.947490e+11  5.575320e+11  6.436280e+11  5.248200e+11
2  1.160951e+10  1.055334e+10  1.054614e+10  1.152746e+10  1.245794e+10
3  1.249733e+09  1.336693e+09  1.436585e+09  1.467956e+09  1.604770e+09
4  1.467590e+12  1.350580e+12  1.206560e+12  1.326470e+12  1.428270e+12

           2019          2020          2021          2022
0  1.540183e+10  1.516273e+10  1.793057e+10  1.888210e+10
1  4.477550e+11  3.855400e+11  4.872270e+11  6.327700e+11
2  1.361929e+10  1.264170e+10  1.386141e+10  1.950278e+10
3  1.675404e+09  1.416348e+09  1.560519e+09  1.757604e+09
4  1.392220e+12  1.326940e+12  1.552700e+12  1.675420e+12

[5 rows x 32 columns]
               Country  Original Principal Amount  Cancelled Amount  \
0              Albania               2.032160e+09      1.402591e+08
1              Algeria               5.911830e+09      1.605315e+09
2  Antigua and Barbuda               1.200000e+07      7.435746e+06
3            Argentina               4.246665e+10      4.680851e+09
4              Armenia               1.224900e+09      4.430277e+07

   Undisbursed Amount  Disbursed Amount  Borrower's Obligation Country_Code  \
0        7.465856e+08      1.082344e+09           8.740135e+08          ALB
1        0.000000e+00      4.306515e+09           0.000000e+00          DZA
2        5.161400e+04      4.512640e+06           4.012867e+06          ATG
3        5.289592e+09      3.300022e+10           9.498279e+09          ARG
4        1.301590e+08      1.053062e+09           9.671751e+08          ARM

                                         Series_Name     Series_Code  \
0  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
1  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
2  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
3  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
4  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD

          2000  ...         2013         2014         2015         2016  \
0           ..  ...  22607333.78  21881927.42  24578013.75  23163082.28
1           ..  ...  162112437.3  143997401.9  250010594.1  152897904.4
2  288888.8889  ...  1181754.444  2975174.815  3074426.822  4026738.886
3  580337544.9  ...   2329270062   2098996166   2178066124   2108388364
4           ..  ...           ..           ..           ..           ..

          2017         2018         2019         2020         2021  \
0  13132426.91   26412466.5  34784215.26  38609323.64  34763724.47
1  147268735.1  115089900.8  143098650.4  133392700.5  202987326.1
2  4961232.208  3790929.211  3964437.185  1307832.815  3187710.404
3   2350351645   2054243293   1688980859   1149104742   1397946196
4           ..           ..           ..           ..           ..

          2022
0  31727566.82
1  122677213.9
2           ..
3   1706885415
4           ..

[5 rows x 32 columns]

Now we will add the Developed Countries dataframe to the two dataframes we just created above.  We will left join the developed_countries_df on these dataframes, as sql will automatically just put the countries that are not in the developed_countries_df as having a value of NaN for the developed column.

In [ ]:
#adding developed countries df to gdp_debt_df
gdp_dbt_dev_df = duckdb.sql("""SELECT * FROM
                         gdp_debt_df LEFT JOIN developed_countries_df
                         ON gdp_debt_df.Country = developed_countries_df.country""").df()

#adding developed countries df to int_prop_dbt_dev_df
int_prop_dbt_dev_df = duckdb.sql("""SELECT * FROM
                         int_property_debt_df LEFT JOIN developed_countries_df
                         ON int_property_debt_df.Country = developed_countries_df.country""").df()

print(gdp_dbt_dev_df.head(5))
print(int_prop_dbt_dev_df.head(5))

               Country  Original Principal Amount  Cancelled Amount  \
0              Albania               2.032160e+09      1.402591e+08
1              Armenia               1.224900e+09      4.430277e+07
2  Antigua and Barbuda               1.200000e+07      7.435746e+06
3           Azerbaijan               3.479300e+09      5.324351e+08
4              Burundi               4.800000e+06      0.000000e+00

   Undisbursed Amount  Disbursed Amount  Borrower's Obligation Country_Code  \
0         746585590.2      1.082344e+09           8.740135e+08          ALB
1         130159016.0      1.053062e+09           9.671751e+08          ARM
2             51614.0      4.512640e+06           4.012867e+06          ATG
3         108026863.4      2.838838e+09           1.250364e+09          AZE
4                 0.0      4.800000e+06           0.000000e+00          BDI

      Indicator_Name  Indicator_Code          2000  ...          2015  \
0  GDP (current US$)  NY.GDP.MKTP.CD  3.480355e+09  ...  1.138685e+10
1  GDP (current US$)  NY.GDP.MKTP.CD  1.911564e+09  ...  1.055334e+10
2  GDP (current US$)  NY.GDP.MKTP.CD  8.263704e+08  ...  1.336693e+09
3  GDP (current US$)  NY.GDP.MKTP.CD  5.272617e+09  ...  5.307624e+10
4  GDP (current US$)  NY.GDP.MKTP.CD  8.704861e+08  ...  3.104004e+09

           2016          2017          2018          2019          2020  \
0  1.186120e+10  1.301973e+10  1.515642e+10  1.540183e+10  1.516273e+10
1  1.054614e+10  1.152746e+10  1.245794e+10  1.361929e+10  1.264170e+10
2  1.436585e+09  1.467956e+09  1.604770e+09  1.675404e+09  1.416348e+09
3  3.786701e+10  4.086663e+10  4.711248e+10  4.817424e+10  4.269300e+10
4  2.644488e+09  2.723587e+09  2.667182e+09  2.576519e+09  2.649680e+09

           2021          2022  country  developed
0  1.793057e+10  1.888210e+10      NaN        NaN
1  1.386141e+10  1.950278e+10      NaN        NaN
2  1.560519e+09  1.757604e+09      NaN        NaN
3  5.482541e+10  7.872106e+10      NaN        NaN
4  2.775799e+09  3.073415e+09      NaN        NaN

[5 rows x 34 columns]
               Country  Original Principal Amount  Cancelled Amount  \
0              Albania               2.032160e+09      1.402591e+08
1              Algeria               5.911830e+09      1.605315e+09
2  Antigua and Barbuda               1.200000e+07      7.435746e+06
3              Armenia               1.224900e+09      4.430277e+07
4           Azerbaijan               3.479300e+09      5.324351e+08

   Undisbursed Amount  Disbursed Amount  Borrower's Obligation Country_Code  \
0         746585590.2      1.082344e+09           8.740135e+08          ALB
1                 0.0      4.306515e+09           0.000000e+00          DZA
2             51614.0      4.512640e+06           4.012867e+06          ATG
3         130159016.0      1.053062e+09           9.671751e+08          ARM
4         108026863.4      2.838838e+09           1.250364e+09          AZE

                                         Series_Name     Series_Code  \
0  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
1  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
2  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
3  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
4  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD

          2000  ...         2015         2016         2017         2018  \
0           ..  ...  24578013.75  23163082.28  13132426.91   26412466.5
1           ..  ...  250010594.1  152897904.4  147268735.1  115089900.8
2  288888.8889  ...  3074426.822  4026738.886  4961232.208  3790929.211
3           ..  ...           ..           ..           ..           ..
4           ..  ...           ..           ..           ..           ..

          2019         2020         2021         2022 country developed
0  34784215.26  38609323.64  34763724.47  31727566.82     NaN       NaN
1  143098650.4  133392700.5  202987326.1  122677213.9     NaN       NaN
2  3964437.185  1307832.815  3187710.404           ..     NaN       NaN
3           ..           ..           ..           ..     NaN       NaN
4           ..           ..           ..    198087000     NaN       NaN

[5 rows x 34 columns]

Now, we will fill the NaN's in the 'developed' columns of these two data frames with 0s, so it is a binary column where 0 = not developed and 1 = developed.

In [ ]:
#filling NaN values in 'developed' columns of both dataframes with 0
gdp_dbt_dev_df['developed'].fillna(value= 0, inplace = True)
int_prop_dbt_dev_df['developed'].fillna(value= 0, inplace = True)

print(gdp_dbt_dev_df.head(5))
print(int_prop_dbt_dev_df.head(5))

               Country  Original Principal Amount  Cancelled Amount  \
0              Albania               2.032160e+09      1.402591e+08
1              Armenia               1.224900e+09      4.430277e+07
2  Antigua and Barbuda               1.200000e+07      7.435746e+06
3           Azerbaijan               3.479300e+09      5.324351e+08
4              Burundi               4.800000e+06      0.000000e+00

   Undisbursed Amount  Disbursed Amount  Borrower's Obligation Country_Code  \
0         746585590.2      1.082344e+09           8.740135e+08          ALB
1         130159016.0      1.053062e+09           9.671751e+08          ARM
2             51614.0      4.512640e+06           4.012867e+06          ATG
3         108026863.4      2.838838e+09           1.250364e+09          AZE
4                 0.0      4.800000e+06           0.000000e+00          BDI

      Indicator_Name  Indicator_Code          2000  ...          2015  \
0  GDP (current US$)  NY.GDP.MKTP.CD  3.480355e+09  ...  1.138685e+10
1  GDP (current US$)  NY.GDP.MKTP.CD  1.911564e+09  ...  1.055334e+10
2  GDP (current US$)  NY.GDP.MKTP.CD  8.263704e+08  ...  1.336693e+09
3  GDP (current US$)  NY.GDP.MKTP.CD  5.272617e+09  ...  5.307624e+10
4  GDP (current US$)  NY.GDP.MKTP.CD  8.704861e+08  ...  3.104004e+09

           2016          2017          2018          2019          2020  \
0  1.186120e+10  1.301973e+10  1.515642e+10  1.540183e+10  1.516273e+10
1  1.054614e+10  1.152746e+10  1.245794e+10  1.361929e+10  1.264170e+10
2  1.436585e+09  1.467956e+09  1.604770e+09  1.675404e+09  1.416348e+09
3  3.786701e+10  4.086663e+10  4.711248e+10  4.817424e+10  4.269300e+10
4  2.644488e+09  2.723587e+09  2.667182e+09  2.576519e+09  2.649680e+09

           2021          2022  country  developed
0  1.793057e+10  1.888210e+10      NaN        0.0
1  1.386141e+10  1.950278e+10      NaN        0.0
2  1.560519e+09  1.757604e+09      NaN        0.0
3  5.482541e+10  7.872106e+10      NaN        0.0
4  2.775799e+09  3.073415e+09      NaN        0.0

[5 rows x 34 columns]
               Country  Original Principal Amount  Cancelled Amount  \
0              Albania               2.032160e+09      1.402591e+08
1              Algeria               5.911830e+09      1.605315e+09
2  Antigua and Barbuda               1.200000e+07      7.435746e+06
3              Armenia               1.224900e+09      4.430277e+07
4           Azerbaijan               3.479300e+09      5.324351e+08

   Undisbursed Amount  Disbursed Amount  Borrower's Obligation Country_Code  \
0         746585590.2      1.082344e+09           8.740135e+08          ALB
1                 0.0      4.306515e+09           0.000000e+00          DZA
2             51614.0      4.512640e+06           4.012867e+06          ATG
3         130159016.0      1.053062e+09           9.671751e+08          ARM
4         108026863.4      2.838838e+09           1.250364e+09          AZE

                                         Series_Name     Series_Code  \
0  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
1  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
2  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
3  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD
4  Charges for the use of intellectual property, ...  BM.GSR.ROYL.CD

          2000  ...         2015         2016         2017         2018  \
0           ..  ...  24578013.75  23163082.28  13132426.91   26412466.5
1           ..  ...  250010594.1  152897904.4  147268735.1  115089900.8
2  288888.8889  ...  3074426.822  4026738.886  4961232.208  3790929.211
3           ..  ...           ..           ..           ..           ..
4           ..  ...           ..           ..           ..           ..

          2019         2020         2021         2022 country developed
0  34784215.26  38609323.64  34763724.47  31727566.82     NaN       0.0
1  143098650.4  133392700.5  202987326.1  122677213.9     NaN       0.0
2  3964437.185  1307832.815  3187710.404           ..     NaN       0.0
3           ..           ..           ..           ..     NaN       0.0
4           ..           ..           ..    198087000     NaN       0.0

[5 rows x 34 columns]

In [2]:
print(gdp_dbt_dev_df.describe())
print(int_prop_dbt_dev_df.describe())

NameError: name 'gdp_dbt_dev_df' is not defined